<div class="flex flex-col w-full justify-center justify-items-center p-4"> 
  <div class="flex content-center justify-center justify-items-center">
    <h1 class="shadow-lg font-bold"> Add some items bellow! </h1>
  </div>
  <div class="flex content-center justify-center justify-items-center" />
    <%= render "shared/post_form", post: @post %>
  </div>
</div>
