<div class="fixed left-0 right-0 top-0 h-full w-full justify-center items-center" id="popup-modal">
  <div class="flex h-full w-full justify-center items-center">
    <div class="shadow-lg rounded px-4 py-4 bg-red-100 opacity-90">
      <div class="opacity-100">
        <p class="px-6 py-4 font-xl text-black font-bold"> <%= message %></p>
        <button onClick="closePopup()" class="py-2 w-full bg-red-400 text-white font-xl uppercase rounded"> Ok </button> 
      </div>
    </div>
  </div>
</div>
