<div class="block py-6 rounded-lg shadow-lg bg-white min-w-md min-h-w">
  <div class="mb-6">
    <p class="w-full text-center border-b-2 border-blue-600 text-xl"><%= post.title %></p>
    <p class="p-2"><%= post.content %></p>
  </div>
</div>
